.first {
    text-align: center;
    padding: 8px 16px;
    margin: 8px;
    border: 1px solid black;
    background: rgb(231, 231, 231);
}
.second {
    text-align: right;
    padding: 8px 16px;
    margin: 8px;
    border: 3px solid rgb(255, 0, 242);
    background: linear-gradient(90deg, #ffb7ef, #e66aff);
    width: 500px;
}
.third {
    text-align: left;
    padding: 8px 16px;
    margin: 8px;
    border: 5px solid rgb(76, 0, 255);
    background: rgb(193, 166, 255);
    width: 50%;
}
.name {
    padding: 3px;
    color: white;
    background: blueviolet;
    display: inline-block;
}
.adjective {
    background: rgb(192, 146, 230);
}