.block {
    border: 1px solid black;
    margin-bottom: 0.5rem;
    margin: 0.25rem;
    padding: 0.5rem; 
}
.block.center {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}
.block.fish {
    background: rgb(170, 255, 255);
}
.block.tree {
    background: rgb(131, 252, 107);
}
.block.noflex {
    flex-grow: 0; 
    flex-basis: auto;
}
.row {
    display: flex;
}
.column { 
    height: 200px;
    flex-basis: 200px;
    background-color: rgb(255, 197, 37);
    margin: 0.5rem;
    padding: 0.5rem; 
    align-items: center; 
    display: flex;
    flex-direction: column;
}