@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

.header {
    margin-top: 34px;
    margin-bottom: 94px;
}

a.nav {
    color: rgb(2, 2, 2);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 0px 5px;
}

a.nav.active {
    color: rgb(112, 112, 112);
}

a.nav:link {
    text-decoration: none;
}

a.login {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 3px 20px;
    margin: 0px 10px;
    align-self: center;
    border: 3px solid rgba(202, 168, 146, 1);
}

a.login:link {
    text-decoration: none;
    background: rgba(202, 168, 146, 1);
}

a.contact {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 5px 28px;
    align-self: center;
    border: 3px solid rgba(55, 128, 107, 1);
}

a.contact:link {
    text-decoration: none;
    background: rgba(55, 128, 107, 1);
}

.ad {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.title {
    margin-bottom: 23px;
    font-size: 72px;
    line-height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.block-title {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
}

.description {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-bottom: 28px;
}

.bordered {
    padding: 1px 4px;
    border-radius: 20px 0px ;
}

.image-bordered {
    margin: 1px;
    padding: 1px 4px;
    border-radius: 140px 0px;
}

.card-block {
    max-width: 1000px;
}

.card-white {
    padding: 40px 21px 40px 35px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    margin: 15px 0px;
}

.card-brown {
    padding: 40px 21px 40px 35px;
    background-color: rgba(202, 168, 146, 1);
    color: white;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    margin: 15px 0px;
}

img.card-icon {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.card-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0px;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
}

.circles {
    margin-right: 7px;
}

.circle-green {
    width: 30px;
    height: 30px;
    align-self: center;
    border-radius: 50%;
    background: rgba(55, 128, 107, 1);
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
}

.circle-white {
    width: 30px;
    height: 30px;
    align-self: center;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.first-block {
    margin-bottom: 115px;
}

.second-block {
    margin-bottom: 189px;
}

.third-block {
    margin-bottom: 224px;
}

.fourth-block {
    margin-bottom: 224px;
}

.my-35 {
    margin: 35px 0px;
}