@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.header {
    padding-top: 34px;
    padding-bottom: 94px;
}

a.nav {
    color: rgb(2, 2, 2);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin: 0px 5px;
}

a.nav.active {
    color: rgb(112, 112, 112);
}

a.nav:link {
    text-decoration: none;
}

a.login {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 3px 20px;
    margin: 0px 10px;
    align-self: center;
    border: 3px solid rgba(202, 168, 146, 1);
}

a.login:hover {
    background: rgba(55, 128, 107, 1);
    border: 3px solid rgba(55, 128, 107, 1);
    transition: all 0.3s;
}

a.login:link {
    text-decoration: none;
    background: rgba(202, 168, 146, 1);
}

a.contact {
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 5px 28px;
    align-self: center;
    border: 3px solid rgba(55, 128, 107, 1);
}

a.contact:link {
    text-decoration: none;
    background: rgba(55, 128, 107, 1);
}


a.contact:hover {
    border: 3px solid rgba(202, 168, 146, 1);
    background: rgba(202, 168, 146, 1);
    transition: 0.3s;
    color: white;
}


.subtitle {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(100, 100, 100);
}

.title-bold {
    font-size: 72px;
    line-height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.title-medium {
    font-size: 48px;
    line-height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
}

.description {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 26px 0px;
}

.bordered {
    padding: 1px 4px;
    border-radius: 20px 0px;
}

.image-bordered {
    margin: 1px;
    padding: 1px 4px;
    border-radius: 140px 0px;
}

.card-block {
    max-width: 1000px;
}

.card-white {
    padding: 40px 21px 40px 35px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    margin: 15px 0px;
}

.card-brown {
    padding: 40px 21px 40px 35px;
    background-color: rgba(202, 168, 146, 1);
    color: white;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    margin: 15px 0px;
}

#card-icon {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.card-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0px;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
}

.client-card {
    width: 571px;
    padding: 33px 35px 60px 102px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    margin-bottom: 25px;
}

#client-avatar {
    margin-top: 33px;
    margin-right: -65px;
    object-fit: cover;
    height: 130px;
    width: 130px;
}

.client-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.client-workspace {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    align-self: center;
    color: rgb(100, 100, 100);
}

.client-review {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    line-height: 28px;
    letter-spacing: -0.01em;
}

#quotation {
    height: 33px;
    width: 33px;
}

.circles {
    margin-right: 7px;
}

.circles-second {
    margin-bottom: 85px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(202, 168, 146, 1);
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.circle:hover {
    background-color: rgb(55, 128, 107);
    transition: all 0.3s;
}

.modern-interior {
    margin-bottom: 115px;
}

.what-we-do {
    margin-bottom: 189px;
}

.about-us {
    margin-bottom: 224px;
}

.twenty-years {
    margin-bottom: 163px;
}

.clients-reviews {
    margin-bottom: 183px;
    text-align: center;
}

.latest-news {
    padding-top: 93px;
    padding-bottom: 113px;
    background-color: rgba(248, 248, 248, 1);
    text-align: center;
    background-size: 100%;
}

.sign-up-form {
    padding-top: 207px;
    padding-bottom: 192px;
    text-align: center;
}

.news-image {
    padding-bottom: 44px;
    max-width: 570px;
}

.news-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 17px;
    line-height: 28px;
    text-align: start;
}

.news-text {
    padding-bottom: 44px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: start;
}

.news-button {
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: regular;
    padding: 5px 28px;
    align-self: center;
    border: 3px solid rgba(55, 128, 107, 1);
    background: rgba(55, 128, 107, 1);
    align-self: flex-start;
}

.news-button:hover {
    border: 3px solid rgba(202, 168, 146, 1);
    background: rgba(202, 168, 146, 1);
    transition: 0.3s;
    color: white;
}

a.news-button:link {
    text-decoration: none;
}

.line {
    border: 1px solid #C4C4C4;
    margin: 40px 0px;
    align-self: center;
}

.sign-up-description {
    max-width: 640px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-bottom: 29px;
    align-self: center;
}

.sign-up-field {
    height: 50px;
    max-width: 770px;
    background-color: rgba(238, 238, 238, 1);
    align-self: center;
    padding-left: 27px;
    border-radius: 20px 0px 20px 0px;
}

.sign-up-input {
    height: 50px;
    max-width: 592px;
    border: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgba(100, 100, 100, 1);
    background-color: rgba(238, 238, 238, 1);
}

a.subscribe-button {
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: regular;
    padding: 10px 28px;
    align-self: center;
    border: 3px solid rgba(55, 128, 107, 1);
    background: rgba(55, 128, 107, 1);
    border-radius: 0px 0px 20px 0px;
    align-self: center;
}

a.subscribe-button:link {
    text-decoration: none;
}

a.subscribe-button:hover {
    border: 3px solid rgba(202, 168, 146, 1);
    background: rgba(202, 168, 146, 1);
    transition: 0.3s;
    color: white;
}

footer {
    background-color: rgba(248, 248, 248, 1);
}

.footer-title {
    color: rgba(33, 33, 33, 1);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
}

.footer-link {
    color: rgba(100, 100, 100, 1);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

a.footer-link:link {
    text-decoration: none;
}

.social-link {
    width: 40px;
    height: 40px;
    padding: 5px;
    
    background-color: rgba(213, 213, 213, 1);
    border-radius: 50%;
}

.social-link:hover {
    background-color: rgba(55, 128, 107, 1);
    transition: all 0.3s;
}

.my-35 {
    margin: 35px 0px;
}

.mb-82 {
    margin-bottom: 82px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-8 {
    margin-bottom: 8px;
}