@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

img.logo {
    margin: 34px;
}

a.nav {
    color: rgb(2, 2, 2);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin: 0px 10px;
}

a.nav.active {
    color: rgb(112, 112, 112);
}

a.nav:link {
    text-decoration: none;
}

a.login {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 3px 20px;
    margin: 0px 10px;
    align-self: center;
    border: 3px solid rgba(202, 168, 146, 1);
}

a.login:link {
    text-decoration: none;
    background: rgba(202, 168, 146, 1);
}

a.contact {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 3px 20px;
    margin: 0px 10px;
    align-self: center;
    border: 3px solid rgba(55, 128, 107, 1);
}

a.contact:link {
    text-decoration: none;
    background: rgba(55, 128, 107, 1);
}


.ad {
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.title {
    margin-bottom: 23px;
    font-size: 72px;
    line-height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}

.description {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-bottom: 28px;
}

.bordered {
    margin: 1px;
    padding: 1px 4px;
    border-radius: 15px 0px ;
}

.image-bordered {
    margin: 1px;
    padding: 1px 4px;
    border-radius: 20% 0px;
}

.block-image {
    width: 550px;
    height: 475px;
    position: absolute;
}

.image-background {
    width: 550px;
    height: 475px;
    border-radius: 20% 0px;
    margin-top: 33px;
    margin-left: 35px;
    border: 3px solid rgba(202, 168, 146, 1);
}